{% extends "base.html" %}
{% block content %}
    <form role="form" action="" method=post>
        <div class="input-group">
          <input type="text" class="form-control" name="searchstring" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Find!</button>
          </span>
        </div><!-- /input-group -->
    </form>

    <div class="container-fluid">
        <table id="entries" class="table table-striped">
		    <thead>
		        <tr>
			        <th>Topic</th>
			        <th>Last Updated</th>
			        <th><a href="/new">Add New Entry</a></th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for entry in entries %}
		        <tr>
			        <td><a href="/show?id={{entry.id}}">{{ entry.topic }}</a></td>
			        <td>{{ entry.timestamp }}</td>
			        <td><a href="/show?id={{entry.id}}">Show</a> <a href="/edit?id={{entry.id}}">Edit</a> <a href="/delete?id={{entry.id}}">Delete</a></td>
		        </tr>
                {% endfor %}
		    </tbody>
	    </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#entries').dataTable({
                "columns": [
                {"name": "topic", "orderable": true},
                {"name": "timestamp", "orderable": true},
                {"name": "edit", "orderable": false},
                ],
                "order": [[0, 'asc']],
                paging: false,
                searching: false
            });
        });
    </script>
{% endblock %}