{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <table class="table table-striped">
		    <thead>
		        <tr>
			        <th>Topic</th>
			        <th>Last Updated</th>
			        <th><a href="#">New Entry</a></th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for entry in entries %}
		        <tr>
			        <td><a href="#">{{ entry.topic }}</a></td>
			        <td>{{ entry.timestamp }}</td>
			        <td><a href="#">Show</a> <a href="#">Edit</a> <a href="/delete?id={{entry.id}}">Delete</a></td>
		        </tr>
                {% endfor %}
		    </tbody>
	    </table>
    </div>
{% endblock %}